<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="by Alina">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">   
    <link rel="stylesheet" href="component-home.component.scss">
    <title>SolarLab/Доска объявлений 2024</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <div class="header__wrapper">
                <div class="header__btn">
                    <div class="header__btn__login">
                        <img class="header__btn__img" src="assets/images/login.svg" alt="login">
                        <a href="#" class="header__btn__link">Войти</a>
                    </div>
                        <button class="header__btn-add-ad">Новое объявление <img src="assets/images/add.svg" alt="add"></button>
                </div>
            </div>
        </div>
    </header>  
</body>
</html>

