<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="author" content="by Alina">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">   
    <link rel="stylesheet" href="./home-main.component.scss">
    <title>SolarLab/Доска объявлений 2024</title>
</head>
<body>
<main class="main">
    <div class="container">
        <div class="main__board">
            <div class="main__board__title">
                <h1>Доска объявлений</h1>
            </div>
                <button class="main__board__categories"><img src="assets/images/listNested.svg" alt="list" class="main__board__categories-icon">Все категории</button>
            <div class="main__board__search">
                <form>
                    <input type="text" placeholder="Поиск по объявлениям">
                    <button> Найти <img src="assets/images/search.svg" alt="search" class="main__board__search__icon"></button>
                </form>
            </div>                
        </div>
    </div>    
    <div class="line"></div>
    <div class="container">
        <div class="main__products">
            <div class="main__products__title-recommendations">
                <h2>Рекомендации для вас</h2>
            </div>
            <ul class="main__products__cards-products">
                <!-- row1 -->
                <li class="main__products__cards-products__card-product">
                    <img src="assets/images/img.jpg" alt="guitar" class="main__products__cards-products__card-product__card-img">
                    <!-- <div class="main__products__cards-products__card-product__card-img guitar"></div> -->
                    <h3 class="main__products__cards-products__card-product__card-title">Гитара Fender</h3>
                    <p class="main__products__cards-products__card-product__card-price">20 000 ₽</p>
                    <p class="main__products__cards-products__card-product__card-adress">Москва, Ленинский проспект</p>
                    <p class="main__products__cards-products__card-product__card-time">Сегодня 14:12</p>
                </li>
                <li class="main__products__cards-products__card-product">
                    <img src="assets/images/img1.jpg" alt="guitar" class="main__products__cards-products__card-product__card-img">
                    <!-- <div class="main__products__cards-products__card-product__card-img"></div> -->
                    <h3 class="main__products__cards-products__card-product__card-title">Гитара Fender</h3>
                    <p class="main__products__cards-products__card-product__card-price">20 000 ₽</p>
                    <p class="main__products__cards-products__card-product__card-adress">Москва, Ленинский проспект</p>
                    <p class="main__products__cards-products__card-product__card-time">Сегодня 14:12</p>
                </li>
                <li class="main__products__cards-products__card-product">
                    <img src="assets/images/img.jpg" alt="guitar" class="main__products__cards-products__card-product__card-img">
                    <!-- <div class="main__products__cards-products__card-product__card-img guitar"></div> -->
                    <h3 class="main__products__cards-products__card-product__card-title">Гитара Fender</h3>
                    <p class="main__products__cards-products__card-product__card-price">20 000 ₽</p>
                    <p class="main__products__cards-products__card-product__card-adress">Москва, Ленинский проспект</p>
                    <p class="main__products__cards-products__card-product__card-time">Сегодня 14:12</p>
                </li>
                <li class="main__products__cards-products__card-product">
                    <img src="assets/images/img1.jpg" alt="guitar" class="main__products__cards-products__card-product__card-img">
                    <!-- <div class="main__products__cards-products__card-product__card-img"></div> -->
                    <h3 class="main__products__cards-products__card-product__card-title">Гитара Fender</h3>
                    <p class="main__products__cards-products__card-product__card-price">20 000 ₽</p>
                    <p class="main__products__cards-products__card-product__card-adress">Москва, Ленинский проспект</p>
                    <p class="main__products__cards-products__card-product__card-time">Сегодня 14:12</p>
                </li>
                 <!-- row2 -->       
                <li class="main__products__cards-products__card-product">
                    <img src="assets/images/img1.jpg" alt="guitar" class="main__products__cards-products__card-product__card-img">
                    <!-- <div class="main__products__cards-products__card-product__card-img"></div> -->
                    <h3 class="main__products__cards-products__card-product__card-title">Гитара Fender</h3>
                    <p class="main__products__cards-products__card-product__card-price">20 000 ₽</p>
                    <p class="main__products__cards-products__card-product__card-adress">Москва, Ленинский проспект</p>
                    <p class="main__products__cards-products__card-product__card-time">Сегодня 14:12</p>
                </li>
                <li class="main__products__cards-products__card-product">
                    <img src="assets/images/img.jpg" alt="guitar" class="main__products__cards-products__card-product__card-img">
                    <!-- <div class="main__products__cards-products__card-product__card-img guitar"></div> -->
                    <h3 class="main__products__cards-products__card-product__card-title">Гитара Fender</h3>
                    <p class="main__products__cards-products__card-product__card-price">20 000 ₽</p>
                    <p class="main__products__cards-products__card-product__card-adress">Москва, Ленинский проспект</p>
                    <p class="main__products__cards-products__card-product__card-time">Сегодня 14:12</p>
                </li>
                <li class="main__products__cards-products__card-product">
                    <img src="assets/images/img1.jpg" alt="guitar" class="main__products__cards-products__card-product__card-img">
                    <!-- <div class="main__products__cards-products__card-product__card-img"></div> -->
                    <h3 class="main__products__cards-products__card-product__card-title">Гитара Fender</h3>
                    <p class="main__products__cards-products__card-product__card-price">20 000 ₽</p>
                    <p class="main__products__cards-products__card-product__card-adress">Москва, Ленинский проспект</p>
                    <p class="main__products__cards-products__card-product__card-time">Сегодня 14:12</p>
                </li>
                <li class="main__products__card-product">
               <img src="assets/images/img.jpg" alt="guitar" class="main__products__cards-products__card-product__card-img">
                         <!-- <div class="main__products__cards-products__card-product__card-img guitar"></div> -->
                    <h3 class="main__products__cards-products__card-product__card-title">Гитара Fender</h3>
                    <p class="main__products__cards-products__card-product__card-price">20 000 ₽</p>
                    <p class="main__products__cards-products__card-product__card-adress">Москва, Ленинский проспект</p>
                    <p class="main__products__cards-products__card-product__card-time">Сегодня 14:12</p>
                </li>
                 <!-- row3 -->                
                <li class="main__products__cards-products__card-product">
                    <img src="assets/images/img.jpg" alt="guitar" class="main__products__cards-products__card-product__card-img">
                    <!-- <div class="main__products__cards-products__card-product__card-img guitar"></div> -->
                    <h3 class="main__products__cards-products__card-product__card-title">Гитара Fender</h3>
                    <p class="main__products__cards-products__card-product__card-price">20 000 ₽</p>
                    <p class="main__products__cards-products__card-product__card-adress">Москва, Ленинский проспект</p>
                    <p class="main__products__cards-products__card-product__card-time">Сегодня 14:12</p>
                </li>
                <li class="main__products__cards-products__card-product">
                    <img src="assets/images/img1.jpg" alt="guitar" class="main__products__cards-products__card-product__card-img">
                    <!-- <div class="main__products__cards-products__card-product__card-img"></div> -->
                    <h3 class="main__products__cards-products__card-product__card-title">Гитара Fender</h3>
                    <p class="main__products__cards-products__card-product__card-price">20 000 ₽</p>
                    <p class="main__products__cards-products__card-product__card-adress">Москва, Ленинский проспект</p>
                    <p class="main__products__cards-products__card-product__card-time">Сегодня 14:12</p>
                </li>
                <li class="main__products__cards-products__card-product">
                    <img src="assets/images/img.jpg" alt="guitar" class="main__products__cards-products__card-product__card-img">
                    <!-- <div class="main__products__cards-products__card-product__card-img guitar"></div> -->
                    <h3 class="main__products__cards-products__card-product__card-title">Гитара Fender</h3>
                    <p class="main__products__cards-products__card-product__card-price">20 000 ₽</p>
                    <p class="main__products__cards-products__card-product__card-adress">Москва, Ленинский проспект</p>
                    <p class="main__products__cards-products__card-product__card-time">Сегодня 14:12</p>
                </li>
                <li class="main__products__cards-products__card-product">
                    <img src="assets/images/img1.jpg" alt="guitar" class="main__products__cards-products__card-product__card-img">
                    <!-- <div class="main__products__cards-products__card-product__card-img"></div> -->
                    <h3 class="main__products__cards-products__card-product__card-title">Гитара Fender</h3>
                    <p class="main__products__cards-products__card-product__card-price">20 000 ₽</p>
                    <p class="main__products__cards-products__card-product__card-adress">Москва, Ленинский проспект</p>
                    <p class="main__products__cards-products__card-product__card-time">Сегодня 14:12</p>
                </li>
                <!-- row4 -->
                <li class="main__products__cards-products__card-product">
                    <img src="assets/images/img1.jpg" alt="guitar" class="main__products__cards-products__card-product__card-img">
                    <!-- <div class="main__products__cards-products__card-product__card-img"></div> -->
                    <h3 class="main__products__cards-products__card-product__card-title">Гитара Fender</h3>
                    <p class="main__products__cards-products__card-product__card-price">20 000 ₽</p>
                    <p class="main__products__cards-products__card-product__card-adress">Москва, Ленинский проспект</p>
                    <p class="main__products__cards-products__card-product__card-time">Сегодня 14:12</p>
                </li>
                <li class="main__products__cards-products__card-product">
                    <img src="assets/images/img.jpg" alt="guitar" class="main__products__cards-products__card-product__card-img">
                    <!-- <div class="main__products__cards-products__card-product__card-img guitar"></div> -->
                    <h3 class="main__products__cards-products__card-product__card-title">Гитара Fender</h3>
                    <p class="main__products__cards-products__card-product__card-price">20 000 ₽</p>
                    <p class="main__products__cards-products__card-product__card-adress">Москва, Ленинский проспект</p>
                    <p class="main__products__cards-products__card-product__card-time">Сегодня 14:12</p>
                </li>
                <li class="main__products__cards-products__card-product">
                    <img src="assets/images/img1.jpg" alt="guitar" class="main__products__cards-products__card-product__card-img">
                    <!-- <div class="main__products__cards-products__card-product__card-img"></div> -->
                    <h3 class="main__products__cards-products__card-product__card-title">Гитара Fender</h3>
                    <p class="main__products__cards-products__card-product__card-price">20 000 ₽</p>
                    <p class="main__products__cards-products__card-product__card-adress">Москва, Ленинский проспект</p>
                    <p class="main__products__cards-products__card-product__card-time">Сегодня 14:12</p>
                </li>
                <li class="main__products__cards-products__card-product">
                    <img src="assets/images/img.jpg" alt="guitar" class="main__products__cards-products__card-product__card-img">
                    <!-- <div class="main__products__cards-products__card-product__card-img guitar"></div> -->
                    <h3 class="main__products__cards-products__card-product__card-title">Гитара Fender</h3>
                    <p class="main__products__cards-products__card-product__card-price">20 000 ₽</p>
                    <p class="main__products__cards-products__card-product__card-adress">Москва, Ленинский проспект</p>
                    <p class="main__products__cards-products__card-product__card-time">Сегодня 14:12</p>
                </li>                
            </ul>
    </div>
    </div>
</main>
</body>
