<header class="header">
    <div class="container">
        <div class="header__wrapper">
            <div class="header__btn">
                <div class="header__btn__login">
                    <img class="header__btn__img" src="assets/images/login.svg" alt="login">
                    <a href="#" class="header__btn__link">Войти</a>
                </div>
                    <button class="header__btn-add-ad">Новое объявление <img src="assets/images/add.svg" alt="add"></button>
            </div>
        </div>
    </div>
</header>  